@page
@model front.Pages.Table.Create

@* <h1 class="red">Criar novo evento</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="number" name="TableId" placeholder="Numero da mesa" class="form-control" />
            <div class="form-check">
                <input type="checkbox" name="isFree" id="isFree" value="false" class="form-check-input" />
                <label class="form-check-label" for="isFree">Esta mesa está ocupada?</label>
            </div>
            <button type="submit" class="btn btn-danger">Criar Mesa</button>
        </form>
    </div>
</div> *@
<h1>Confirmação de Compra de Mesa</h1>

<p>Por favor, confirme a compra da mesa:</p>

<p>Número da Mesa: [Número da Mesa]</p>
<p>Preço: R$ 200,00</p>

<p>Ao confirmar a compra, você concorda em adquirir a mesa com as informações fornecidas acima. Certifique-se de revisar todos os detalhes com cuidado antes de prosseguir.</p>

<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Confirmar Compra</button>
        <a asp-page="/Table/Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
