@page "{id:int}"
@model front.Pages.Table.Details

<h1>Detalhes da </h1>

<div>
    <p>Numero: @Model.table!.TableId </p>
    <p> @Model.table.IsFree </p>
</div>

<a asp-page="Index" class="btn btn-danger">Voltar para a lista</a>
