@page "{id:int}"
@model front.Pages.Waiter.Details

<h1>Detalhes do Garçom</h1>

<div>
    <p>Numero: @Model.Waiter.WaiterId </p>
    <p>Nome: @Model.Waiter.FistName </p>
    <p>Sobrenome: @Model.Waiter.LastName </p>
    <p>Telefone: @Model.Waiter.Fone </p>
</div>

<a asp-page="Index">Voltar para a lista</a>
