@page "{id:int}"
@model front.Pages.Products.Details

<h1 class="red">Detalhes do Produto</h1>

<div>
    <p><strong>Numero:</strong> @Model.Products.ProductId</p>
    <p><strong>Nome:</strong> @Model.Products.Name</p>
    <p><strong>Descrição:</strong> @Model.Products.Description</p>
    <p><strong>Categoria:</strong> @Model.Category.CategoryName</p>
</div>

<a asp-page="Index" class="btn btn-danger">Voltar para a lista</a>
