@page "{id:int}"
@model front.Pages.Category.Delete
@{ViewData["Title"] = "Categorias";}
<div>
    <h1>Detalhes do item a ser removido</h1>

    <p><strong>Numero:</strong> @Model.Category.CategoryId</p>
    <p><strong>Estado:</strong> @Model.Category.CategoryName</p>
</div>

<form method="post">
    <div class="form-group">

        <h1>remoção</h1>
        <p>
            Esperamos que esta mensagem o encontre bem. Estamos entrando em contato para confirmar a remoção da
            categoria
            @Model.Category.CategoryName em nosso sistema. Gostaríamos de reiterar que esta ação foi solicitada e será
            implementada de acordo com as suas instruções.</p>
        <p>
            Entendemos que a remoção de uma categoria pode ter implicações significativas em nosso sistema, incluindo
            alterações em processos, fluxos de trabalho e até mesmo na organização dos dados. Portanto, gostaríamos de
            garantir que você esteja ciente das possíveis consequências decorrentes dessa decisão.
        </p>
        @* <input type="hidden" name="id" value="@Model.id"> *@
        <button type="submit" value="Deletar" class="btn btn-danger">
            REMOVER
        </button>
        <button asp-page="./Event/Index" class="btn btn-danger">Retornar para a listagem</button>
    </div>
</form>