@page
@model front.Pages.Category.IndexModel
@{ViewData["Title"] = "Categorias";}

<h1 class="display-4">Eventos Registrados</h1>

<hr/>
<td><a class="btn btn-success" asp-page="/Category/Create">Criar novo evento</a></td>
<hr/>

<div>
    <table class="table table-bordered table-striped table-hover-custom">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Ocupação</td>
                <td>Apagar</td>
                <td>Editar</td> 
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td>
                        <a asp-page="/Category/Edit" asp-route-id="@category.CategoryId">Editar</a>
                    </td>
                    <td>
                        <a asp-page="/Category/Delete" asp-route-id="@category.CategoryId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
