@page
@model front.Pages.Quizz.Index
@{
    ViewData["Title"] = "Quizz";
}

<h1>@ViewData["Title"]</h1>
<div>
    @foreach (var quizz in Model.quiz)
    {

        <a asp-page="Quiz" asp-route-id="@quizz.QuizzId" style="text-decoration: none;">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <h5 class="card-title ">
                        @quizz.QuizzTitle
                    </h5>
                </div>
            </div>
        </a>
    }
</div>